*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    /* border: 30px solid grey; */
    /* border-top: 0px; */
    /* border-bottom: 0px; */
}
header{
    display: flex;
    gap: 250px;
}
.text{
    margin-top: 25px;
}
.text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.text h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(154, 0, 0);
    font-size: 1.9rem;
}
.text h3{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 1.5rem;
}
header img{
    height: 175px;
}
nav{
    background-color: rgb(154, 0, 0);
    height: 70px;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: end;
    gap: 35px;
    padding-right: 35px;
    padding-top: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.image img{
    height: 450px;
}
.sec{
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    gap: 20px;
}
.form{
    background-image: url(form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
}
strong{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.Ques{
    display: flex;
    gap: 70px;
}
.ques h1{
    background-color:  rgb(154, 0, 0);
    padding: 10px;
    color: white;
}
.form p{
    font-size: 1.6rem;
    padding-left: 30px;
    padding-top: 10px;
}
form{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
.pri{
    display: flex;
    padding-top: 10px;
    gap: 23px;
}
input{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}
.name h2{
    padding-bottom: 14px;
}
textarea{
    width: 550px;
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;
}
.btn1{
    background-color: rgb(154, 0, 0) ;
    height: 50px;
    width: 320px;
    /* margin-top: 40px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 295px; */
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.pri p{
    color:grey;
    font-size: 1.3rem;
}
.note{
display: flex;
}
.conf img{
    /* position: absolute; */
    /* top: 450px; */
    /* right: 130px; */
    margin-left: 10px;
    margin-top: 30px;
    width: 220px;
    transform: rotate(20deg);
    opacity: 0.9;
}
section {
    margin-top: 10px;
    padding-left: 50px;
}
.dui p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.img img{
    height: 140px;
    margin-top: 50px;
    position :absolute;
    left: 24rem;
}
.dui h2{
    font-size: 2rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 10px;
}
.dui h3{
    font-size: 1.4rem;
    font-family: arial;
    color: rgb(154, 0, 0) ;
    padding-bottom: 14px;
}
.note{
    border-right:1px solid black ;
}
.btn{
    height: 40px;
    width: 150px;
    margin-left: 250px;
    background-color:  rgb(154, 0, 0);
    color: white;
    padding-top: 10px;
}
.dui img{
    width: 280px;
    height:2px ;
    margin-left: 160px;
}
.blog{
    display: flex;
}
section{
    display: flex;
}
.law h2{
    font-size: 2rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 10px;
}
.law p{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.law{
    padding-left: 20px;
}
.law img{
     width: 280px;
    height:2px ;
}
.btn2{
    height: 40px;
    width: 150px;
    margin-left: 80px;
    margin-bottom: 10px;
    background-color: rgb(154, 0, 0)  ;
    color: white;
}
.law-pic img{
    height: 120px;
    margin-top: 30px;

}
.blog{
    padding-bottom: 30px;
    border-right: 1px solid black;
    padding-right: 25px;
    padding-left: 25px;
    border-bottom: 1px solid black;
}
.cred img{
    height: 125px;
}
.cred{
    display: flex;
    gap: 20px;
}
.cred-t h2{
    font-size: 1.7rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 10px;
    margin-top: 20px;
}
.cred-t p{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.btn3{
    height: 40px;
    width: 150px;
    margin-left: 80px;
    margin-top: 0px;
    background-color: rgb(154, 0, 0)  ;
    color: white;
    padding-left: 8px;
}
.cred-t img{
    margin-left: 40px;
     width: 280px;
    height:2px ;

}
.cre{
    padding-left: 30px;
}
section{
    margin-top: 100px;
    padding-bottom: 60px;
}
span{
    color:rgb(154, 0, 0) ;

}
.side1 img{
    position: absolute;
    height: 80px;
    width: 15px;
    margin-top: 0px;
    
   
    /* margin-top: 0px; */
}
.side1{
    height: 80px;
    width: 310px;
    border: 1px solid black;
    background-color: grey;
    margin-bottom: 19px;
}
.side1 h2{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-bottom: 17px;
    color: white;
}
.side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 160px;
    font-size: 1.1rem;
    color: white;
}
.side{
    margin-left: 60px;
    padding-bottom: 0px;
}
.side h1{
    font-size: 1.7rem;
    margin-left: 0px;
}
.last{
    display: flex;
}
.right1 img{
    height: 2px;
    width: 200px;
}
.right1 button{
    height: 30px;
    width: 140px;
    margin-left: 60px;
    margin-top: 0px;
    background-color: rgb(154, 0, 0)  ;
    color: white;
    
}
.para p{
    font-size: 1.3rem;
    color: rgb(36, 31, 31);
}
.para{
    padding: 70px;
    padding-top: 0px;
}
.para h1{
    margin-bottom: 20px;
}
.right1 h2{
    font-size: 1.7rem;
    padding-bottom: 5px;
    color: rgb(55, 53, 53);
}
.right1 p{
    font-size: 1.3rem;
}
.right1{
    padding-right: 45px;
    padding-bottom: 40px;
}
.logo{
    height: 160px;
    margin-left: 20px;
}
.logo1{
    height: 160px;
    margin-left: 40px;
    margin-top: 20px;
}
.follow{
   margin-top: 20px;
   margin-left: 20px;
font-size: 1.9rem;
}
.icon img{
    height: 45px;
    margin-right: 15px;
}
.bullet{
    width: 100%;
}
.last{
    padding-top: 45px;
}
.hr{
    height: 10px;
    width: 100%;
}
.btn2 img{
    height:15px;
    width: 15px;
    position: relative;
    left: 5px;
    top: 1px;
}
.btn img{
    height:15px;
    width: 15px;
    position: relative;
    right:45px ;
    bottom: 15px;
}
.btn3 img{
    height:15px;
    width: 15px;
    position: relative;
    right:25px ;
    top: 1px;
}
.clk img{
    height: 15px;
    width: 15px;
    position: relative;
    left: 10px;
    top: 2px;
}
.side1 h3 img{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
textarea::placeholder{
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
h2{
    color: rgb(55, 53, 53);
}
.icon{
    padding-bottom: 80px;
}


@media (max-width: 992px) {

    header {
        gap: 170px;
    }

    header img {
        height: 131px;
    }

    .text {
        margin-top: 8px;
    }

    .text h1 {
        font-size: 3rem;
    }

    .text h2 {
        font-size: 30px;
    }

    .text h3 {
        font-size: 1rem;
    }

    nav{
    background-color: rgb(154, 0, 0);
    height: 50px;
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 15px;
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

section {
    margin-top: 5px;
    padding-left: 150px;
    display: inline;
}
    .dui{
        padding-left: 50px;
    }

.sec{
    display: flex;
    flex-direction: row;
}

.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
}
strong{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.Ques{
    display: flex;
    gap: 70px;
}
.ques h1{
    background-color:  rgb(154, 0, 0);
    padding: 10px;
    color: white;
    font-size: 0.9rem;
}
.form p{
    font-size: 0.9rem;
    padding-left: 15px;
    padding-top: 5px;
}
form{
    /* display: flex; */
    margin-top: 20px;
    gap: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    width:650px;
}
.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
}
.pri{
    /* display: flex; */
    padding-top: 10px;
    gap: 23px;
}
input{
    width: 160px;
    height: 15px;
    margin-bottom: 10px;
}
.name h2{
    padding-bottom: 7px;
    font-size:0.9rem;
}
textarea{
    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-left: 40px;
}
textarea::placeholder{
    font-size: 10px;
}
.btn1{
    background-color: rgb(154, 0, 0) ;
    height: 30px;
    width: 160px;
    /* margin-top: 40px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 295px; */
    margin-bottom: 1px;
    font-size: 0.6rem;
}
.pri p{
    color:grey;
    font-size: 0.7rem;
}
.image img{
    height: 350px;
    width: 450px;

    
}
.last{
    display: flex;
    flex-direction: column;
}
.right{
    padding-left: 70px;
}
.right1{
    padding-bottom: 50px;
}.conf img{
    /* position: absolute; */
    /* top: 350px; */
    /* right: 80px; */
    /* width: 100px; */
    margin-top: 20px;
    width: 110px;
    transform: rotate(20deg);
    opacity: 0.9;
}
}

@media (max-width: 768px) {

    header {
        gap: 120px;
    }

    header img {
        height: 80px;
    }

    .text {
        margin-top: 5px;
    }

    .text h1 {
        font-size: 2.1rem;
    }

    .text h2 {
        font-size: 1rem;
    }

    .text h3 {
        font-size: 0.8rem;
    }

    nav{
    background-color: rgb(154, 0, 0);
    height: 50px;
    color: white;
    font-size: 0.7rem;
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

section {
    margin-top: 5px;
    padding-left: 10px;
    display: inline;
}
    .dui{
        padding-left: 70px;
        padding-bottom: 30px;
    }
    .dui h2{
        font-size: 40px;
    }
    .dui h3{
        font-size: 25px;
    }
    .dui p{
        font-size: 25px;
    }
  .img img{
    width: 100px;
    margin-left: 40px;
    margin-top: 90px;
  }
    .sec{
    display:flex;
flex-direction: column;
}
.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 719px;
}
strong{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.Ques{
    display: flex;
    gap: 70px;
}
.ques h1{
    background-color:  rgb(154, 0, 0);
    padding: 10px;
    color: white;
}
.form p{
    font-size: 1.4rem;
    padding-left: 30px;
    padding-top: 10px;
}
form{
    /* display: flex; */
    margin-top: 20px;
    gap: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    width:650px;
}
.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 719px;
}
.pri{
    /* display: flex; */
    padding-top: 10px;
    gap: 23px;
}
input{
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}
.name h2{
    font-size: 10px;
    padding-bottom: 20px;
}
textarea{
    width: 300px;
    height: 50px;
    margin-top: 0px;
    margin-left: 40px;
}
.btn1{
    background-color: rgb(154, 0, 0) ;
    height: 25px;
    width: 160px;
    /* margin-top: 40px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 295px; */
    margin-bottom: 10px;
    font-size: 0.8rem;
}
.pri p{
    color:grey;
    font-size: 0.9rem;
}
.image img{
    width: 719px;

    
}
.law h2{
    font-size: 2.7rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 10px;
}
.law p{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.law{
    padding-left: 45px;

}
.cre{
    padding-top: 40px;
    padding-left: 160px;
    padding-bottom: 40px;
}
.cred-t h2{
     font-size: 2.7rem;
}
.cred-t p{
    font-size: 1.5rem;
}
.cred img{
    height: 140px;
}
.lawpic img{
    height: 131px;
}
.last{
    display: flex;
    flex-direction: column;
}
.right{
    padding-left: 70px;
}
.right1{
    padding-bottom: 50px;
}
.side1{
    height: 88px;
    width: 360px;
    border: 1px solid black;
    background-color: grey;
    margin-bottom: 19px;
}
.side1 h2{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-bottom: 17px;
    color: white;
}
.side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 160px;
    font-size: 1.5rem;
    color: white;
}
.side{
    margin-left: 80px;
    padding-bottom: 0px;
}
.side h1{
    font-size: 2.7rem;
    margin-left: 0px;
}
.side1 img{
    height: 86px;
    width: 20px;
    margin-bottom: 30px;
}

.conf img{

    width: 200px;
    transform: rotate(13deg);
    opacity: 0.9;
}
}
@media (max-width: 576px) {

    header {
        gap: 80px;
    }

    header img {
        height: 60px;
    }

    .text {
        margin-top: 5px;
    }

    .text h1 {
        font-size: 1.7rem;
    }

    .text h2 {
        font-size: 0.8rem;
    }

    .text h3 {
        font-size: 0.64rem;
    }

    nav{
    background-color: rgb(154, 0, 0);
    height: 35px;
    color: white;
    font-size: 0.65rem;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-right: 0px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

section {
    
    display: inline;
}
    .dui{
        padding-left: 30px;
        margin-left: 20px;
        padding-bottom: 60px;
    }
    .dui h2{
        font-size: 34px;
    }
    .dui h3{
        font-size: 19px;
    }
    .dui p{
        font-size: 19px;
    }
    .img img{
        margin-left: 0px;
        margin-top: 50px;
    }
  
    .sec{
    display:flex;
    padding-top: 10px;
    padding-left: 10px;
flex-direction: column;
}
.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
}
strong{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.Ques{
    display: flex;
    gap: 70px;
}
.ques h1{
    background-color:  rgb(154, 0, 0);
    padding: 10px;
    color: white;
}
.form p{
    font-size: 1.1rem;
    padding-left: 30px;
    padding-top: 10px;
}
form{
    /* display: flex; */
    margin-top: 20px;
    gap: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    width:650px;
}
.form{
    background-image: url(./form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
}
.pri{
    /* display: flex; */
    padding-top: 10px;
    gap: 23px;
}
input{
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}
.name h2{
    font-size: 10px;
    padding-bottom: 20px;
}
textarea{
    width: 300px;
    height: 50px;
    margin-top: 0px;
    margin-left: 40px;
}
.btn1{
    background-color: rgb(154, 0, 0) ;
    height: 25px;
    width: 160px;
    /* margin-top: 40px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 295px; */
    margin-bottom: 10px;
    font-size: 0.8rem;
}
.pri p{
    color:grey;
    font-size: 0.9rem;
}
.image img{
    width: 500px;
    margin-left: 0px;

    
}
.law h2{
    font-size: 34px;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 10px;
}
.law p{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.law{
    padding-left: 20px;

}
.cre{
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 40px;
}
.cred-t h2{
     font-size: 34px;
}
.cred-t p{
    font-size: 20px;
}
.cred img{
    height: 110px;
}
.law-pic img{
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
}
.last{
    display: flex;
    flex-direction: column;
}
.side1{
    height: 88px;
    width: 360px;
    border: 1px solid black;
    background-color: grey;
    margin-bottom: 19px;
}
.side1 h2{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-bottom: 17px;
    color: white;
}
.side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 160px;
    font-size: 1.5rem;
    color: white;
}
.side{
    margin-left: 80px;
    padding-bottom: 0px;
}
.side h1{
    font-size: 2rem;
    margin-left: 0px;
}
.side1 img{
    height: 86px;
    width: 20px;
    margin-bottom: 30px;
}

.conf img{

    width: 150px;
    transform: rotate(13deg);
    opacity: 0.9;
}
.right1 h2{
    font-size: 34px;
    padding-bottom: 5px;
    color: rgb(55, 53, 53);
}
.right1 p{
    font-size: 24px;
}
.right1{
    padding-right: 65px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.logo{
    height: 130px;
    margin-left: 30px;
}
.logo1{
    height: 130px;
    margin-left: 50px;
    margin-top: 20px;
}
.follow{
   margin-top: 20px;
   margin-left: 30px;
font-size: 1.9rem;
}
.icon img{
    height: 45px;
    margin-right: 15px;
}
.right{
    padding-left: 150px;
}

}
