*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10rem; 
   width: 100%;
}
.head-text{
    
    margin-left: 8rem;
    width: 50%;
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;    
}
.head-text h3{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size: 1.2em;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo{
    width: 50%;
}
.head-logo img{
    width: 200%;
}
.navbar{
    display: flex;
    justify-content:flex-end;
    gap: 2.2em;
    background-color: darkred;
    width: 100%;
    padding: 1em;
    color: white;
    align-items: end;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display: flex;
    gap: 2rem;
    width: 100%;

}
.section-left{
    width: 50%;
}
.section-left img{
    width: 100%;
    margin-left: 0rem;
    margin-top: 3.2rem;
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    margin-top: 3.2rem;
    margin-right: 0rem;

}
.question{
    display: flex;
    gap: 2rem;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 3.5rem;
    width: 17rem;
}
.que2{
    padding-top:0.5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 2.1rem;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 1.5rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 2.5rem;
    gap: 0.5rem;
    padding-top: 1rem;
}
.input{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}
.input h4 {
    padding-bottom: 1rem;
}
input{
    padding-bottom: 0.6rem;
    margin-bottom: 0.4rem;
    width: 13.5rem;
}
.confi img{
    margin-top: 1.7rem;
    margin-left: 0.7rem;
    height: 4rem;
    transform: rotate(15deg);
    width: 13rem;
}
.desc{
    padding-left:2.6rem;
}
.desc textarea{
    height: 5rem;
    width: 33rem;
}
.end{
    display: flex;
    gap: 0.3rem;
    margin-left: 2rem;
}
.privacy{
    font-size: 1.2rem;
    font-style: italic;
    color: grey;
    margin-top: 1.8rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 3rem;
    width: 20rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.batton img{
    color: white;
    background-color: red;
    height: 1rem;
    width: 0.6rem;
}
.main{
    display: flex;
    width: 100%;
    gap: 0rem;
}
.charged{
    display: flex;
    width: 33%;
    

}
.char-text{
    margin-left: 1rem;
    padding-left: 3.5rem;
    margin-top: 2rem;
    position: relative;
}
.char-text h3{
    font-size: 1.8rem;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.char-pic img{
    width: 100%;
    position: relative;
    right:2rem;    
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 65rem;
    right:65rem;
}
.click button{
    background-color: brown;
    height: 2rem;
    width: 8rem;
    color: white;
    
}
.line{
    position: relative;
    bottom: 1.5rem;
    left: 9rem;
    height: 0.1rem;
    width: 14rem;
}
.law-case{
    border-left: 0.5px solid black;
    border-right: 0.5px solid black; 
    margin-top: 0.5rem;
    width: 33%;

}
.law-blog{
    display: flex;
    gap: 3rem;
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}
.law-text p{
    font-size: 1rem;
    padding-top: 1rem;
}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: -2.5rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 1.5rem;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-left: 6rem;
    color: white;

}
.law-text .btn img{
    height: 10px;
    width: 10px;
}
.law-text img{
    height: 0.1rem;
    width: 14rem;
}
.all-img{
    display: flex;
    padding: 2rem;
    gap:0.5rem;
}
.im1 img{
    width: 100%;
}
.certifi{
    width: 33%;
}
.certifi-text{
    padding-left: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1.2rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-left: 11rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 14rem;
   margin-left: 3.2rem;
    
}
.line1{
    margin-top: 2rem;
}
.boxes{
    margin-top: 1rem;
    width: 100%;
    padding-left: 63px;
}
.box{
    background-color: grey;
    height: 4rem;
    width: 18rem;
    margin-top: 2rem;
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 4rem;
     left: 9rem;
     color: white;
}
.menu{
    height: 4rem;
}
.about{
    margin-top: 1.5rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    display: flex;
    width: 100%;
}
.blog{
    margin-top: 1rem;
    padding-left: 1rem;
    width: 100%;
}
.blog p{
    font-size: 1.4rem;
}
.side{
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 100%;
       
}
.side1{
    padding: 1.5rem;
    padding-left: 2.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.shadow {
    height: 0.1rem;
    width: 14rem;
}
.detail{
    background-color: brown;
    height: 2.5rem;
    width: 8rem;
    margin-left: 4rem;    
}
.detail img{
    height:0.5rem;
    width: 0.5rem;
}
.shadow1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.shadow1 img{
    
    width: 70%;
    padding-left: 5rem;
}
.follow .shadow2{
    height: 0.1rem;
    width: 10rem;
    
   
}
.follow{
    padding-left: 5rem;
    
}
.follow h2{
    padding-left: 1.3rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    gap: 1.2rem;

}
.icon img{
    width: 100%;
}
@media (max-width:1400px) { 
      html, body{
        overflow-x: hidden;
    } 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10rem;
   width: 100%; 
}
.head-text{
    
    padding-right: 1.5rem;
    width: 50%;
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;    
}
.head-text h3{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size: 1.6em;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo{
    width: 50%;
}
.head-logo img{
    width: 200%;
}
.navbar{
    display: flex;
    justify-content:flex-end;
    gap: 2.4em;
    background-color: darkred;
    width: 100%;
    padding: 1em;
    color: white;
    align-items: end;
}
.navbar a{
    
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display: flex;
    gap: 1rem;
    width: 100%;

}
.section-left{
    width:49%;
}
.section-left img{
    width: 100%;
    margin-top: 3.2rem;
    margin-left: 0rem;
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 49%;
    margin-top: 3.2rem;
    margin-right: 0rem;

}
.question{
    display: flex;
    gap: 6rem;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 3rem;
    width: 15rem;
    font-size: 15px;
}
.que2{
    padding-top:0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 30px;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 1rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 20px;
    gap: 30px;
    padding-top: 1rem;
}
.input{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
}
.input h4 {
    padding-bottom: 15px;
}
input{
    padding-bottom: 6px;
    margin-bottom: 0.4rem;
    width: 14rem;
}
.confi img{
    margin-top: 1.7rem;
    margin-left: 0.7rem;
    height: 50px;
    transform: rotate(18deg);
    width: 150px;
}
.desc{
    padding-left:100px;
}
.desc textarea{
    height: 50px;
    width: 350px;
}
.end{
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
}
.privacy{
    font-size: 18px;
    font-style: italic;
    color: grey;
    margin-top: 1.8rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 40px;
    width: 200px;
    margin-top: 1rem;
    font-size: 13px;
}
.batton img{
    color: white;
    background-color: red;
    height: 10px;
    width: 10px;
}
.main{
    display: flex;
    width: 100%;
}
.charged{
    display: flex;
    gap: 60px;
    width: 33%;
}
.char-text{
    margin-left: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    position: relative;
}
.char-text h3{
    font-size: 35px;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 20px;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.char-pic img{
    width: 100%;
    margin-top: -2rem;
    
        
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 65rem;
    right:80rem;
}
.click button{
    background-color: brown;
    height: 1rem;
    width: 5rem;
    color: white;
    font-size: 0.5rem;
    
}
.click button img{
    height: 0.5rem;
    width: 0.5rem;
}
.line{
    position: absolute;
    bottom: 1rem;
    left: -1rem;
    height: 0.1rem;
    width: 7rem;
}
.law-case{
    border-left: 0.5px solid black;
    /* border-right: 0.5px solid black;  */
    margin-top: 1.5rem;
    width: 33%;

}
.law-blog{
    display: flex;
    gap: 3rem;
    border-bottom: 1px solid black;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.law-text p{
    font-size: 1rem;

}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: -2.5rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 30px;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 1.3rem;
    width: 5rem;
    margin-left: 0rem;
    color: white;
    
}
.law-text .btn img{
    height: 6px;
    width: 6px;
}
 
.law-text img{
    height: 0.1rem;
    width: 5rem;   
}
.law-text button{
    font-size: 0.5rem;
}
.certifi{
    width: 33%;
}
.certifi-text h2{
    font-size: 20px;
}

.all-img{
    display: flex;
    gap:2rem;
}
.im1 img{
    height: 100%;
}
.certifi-text{
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 6.5rem;
    margin-left: 0rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
    font-size: 10px;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: -0rem;
    top:0rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 9rem;
   margin-left: 0rem;
    
}
.line1{
    margin-top: 2rem;
}
.boxes{
    margin-top: 1rem;
    margin-left: 1.9rem;
    width: 100%;
}
.box{
    background-color: grey;
    height: 4rem;
    width: 18rem;
    margin-top: 2rem;
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 4rem;
     left: 9rem;
     color: white;
}
.menu{
    height: 4rem;
}
.about{
    margin-top: 1.5rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.blog{
    margin-top: 1rem;
    padding-left: 1.5rem;
    width: 100%;
}
.blog p{
    font-size: 15px;
    line-height: 1.5rem;
}
.side{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 100%;
       
}
.side1{
    padding: 1.5rem;
    padding-left: 2.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.shadow {
    height: 0.1rem;
    width: 8rem;
}
.detail{
    background-color: brown;
    height: 2rem;
    width: 8rem;
    margin-left: 0rem;    
}
.detail img{
    height:0.5rem;
    width: 0.5rem;
}
.shadow1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.shadow1 img{
    width: 70%;
    margin-right: 15rem;
}
.follow .shadow2{
    height: 0.1rem;
    width: 10rem;
    
   
}
.follow{
    padding-left: 5rem;
}
.follow h2{
    padding-left: 1.3rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    gap: 1.2rem;
    margin-right: 5rem;
}
.icon img{
    width: 0%;
    
} 

}

@media (max-width: 1200px) {
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10.5em;
   width: 100%; 
}
.head-text{
    
    padding-right: 1.5rem;
    width: 48%;
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;    
}
.head-text h3{
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size: 1.2em;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo img{
    width: 200%;
}
.head-logo{
    width: 48%;
}
.navbar{
    display: flex;
    justify-content:center;
    gap: 2.2em;
    background-color: darkred;
    width: 100%;
    padding: 1em;
    color: white;
    align-items: end;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display: flex;
    gap: 1rem;
    width: 100%;

}
.section-left{
    width: 49%;
}
.section-left img{
    width: 100%;
    margin-left: 0rem;
    margin-top: 3.2rem;
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 49%;
    margin-top: 3.2rem;
    margin-right: 1rem;

}
.question{
    display: flex;
    gap: 1.5rem;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 2.5rem;
    width: 12rem;
    font-size: 12px;
}
.que2{
    padding-top:0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 30px;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 1rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    padding-top: 1rem;
}
.input h2{
    font-size: 15px;
    padding: 7px;
}
.input{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
}
.input h4 {
    padding-bottom: 15px;
}
input{
    padding-bottom: 6px;
    margin-bottom: 0.4rem;
    width: 8rem;
}
.confi img{
    margin-top: 1.7rem;
    margin-left: 0.7rem;
    height: 50px;
    transform: rotate(18deg);
    width: 120px;
}
.desc{
    padding-left:75px;
}
.desc textarea{
    height: 30px;
    width: 300px;
}
.end{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}
.privacy{
    font-size: 12px;
    font-style: italic;
    color: grey;
    margin-top: 1rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 30px;
    width: 170px;
    margin-top: 0.9rem;
    font-size: 13px;
}
.batton img{
    color: white;
    background-color: red;
    height: 10px;
    width: 10px;
}
.main{
    display: flex;
    width: 100%;
}
.charged{
    display: flex;
    gap: 0px;
    width: 33%;
}
.char-text{
    margin-left: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    position: relative;
}
.char-text h3{
    font-size: 35px;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 20px;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.char-pic img{
    width: 100%;
    margin-top: -2rem;
    
        
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 55rem;
    right:53rem;
}
.click button{
    background-color: brown;
    height: 1rem;
    width: 5rem;
    color: white;
    font-size: 0.5rem;
    
}
.click button img{
    height: 0.5rem;
    width: 0.5rem;
}
.line{
    position: absolute;
    bottom: 1rem;
    left: -1rem;
    height: 0.1rem;
    width: 7rem;
}
.law-case{
    width: 33%;
    border-left: 0.5px solid black;
    /* border-right: 0.5px solid black;  */
    margin-top: 1.5rem;

}
.law-blog{
    display: flex;
    gap: 3rem;
    border-bottom: 1px solid black;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.law-text p{
    font-size: 1rem;

}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: -2.5rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 30px;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 1.3rem;
    width: 5rem;
    margin-left: 0rem;
    color: white;
    
}
.law-text .btn img{
    height: 6px;
    width: 6px;
}
 
.law-text img{
    height: 0.1rem;
    width: 5rem;   
}
.law-text button{
    font-size: 0.5rem;
}
.certifi{
    width: 33%;
}
.certifi-text h2{
    font-size: 20px;
}

.all-img{
    display: flex;
    gap:2rem;
}
.im1 img{
    width: 100%;
}
.certifi-text{
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 6.5rem;
    margin-left: 0rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
    font-size: 10px;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: -0rem;
    top:0rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 9rem;
   margin-left: 0rem;
    
}
.line1{
    margin-top: 2rem;
}
.boxes{
    margin-top: 1rem;
    margin-left: -2rem;
    width: 100%;
}
.box{
    background-color: grey;
    width: 100%;
    margin-top: 2rem;
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 4rem;
     left: 9rem;
     color: white;
}
.menu{
    height: 4rem;
}
.about{
    margin-top: 1.5rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.blog{
    margin-top: 1rem;
    padding-left: 0rem;
    width: 100%;
}
.blog p{
    width: 100%;
    font-size: 17px;
    line-height: 1.5rem;
}
.side{
    margin-top: 1rem;
    margin-left: 0rem;
    width: 100%;
       
}
.side1{
    width: 100%;
    padding: 1.5rem;
    padding-left: 2.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.shadow {
    height: 0.1rem;
    width: 8rem;
}
.detail{
    background-color: brown;
    height: 2rem;
    width: 8rem;
    margin-left: 0rem;    
}
.detail img{
    height:0.5rem;
    width: 0.5rem;
}
.shadow1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.shadow1 img{
    
    width: 70%;
    padding-left: 5rem;
}
.follow .shadow2{
    height: 0.1rem;
    width: 10rem;
    
   
}
.follow{
    padding-left: 5rem;
}
.follow h2{
    padding-left: 1.3rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    gap: 1.2rem;
}
.icon img{
    width: 100%;
} 

    
}

 @media (max-width: 992px){ 
 html, body{
        overflow-x: hidden;
    }
header{
   display: flex;
   gap: 5rem;
   width: 100%;
}
.head-text{
    padding-right: 0rem;
    margin-right: 0px;
    width: 50%;   
    margin: 0px; 
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;    
}
.head-text h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size:20px;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo{
    width: 50%;
}
.head-logo img{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content:end;
    gap: 17px;
    background-color: darkred;
    width: 100%;
    
    padding: 1rem;
    color: white;
    align-items: end;
     margin-top: 1rem; 
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display: flex;
    gap: 16px;
    width: 100%;

}
.section-left{
    width: 50%;
}
.section-left img{
    width: 100%;
    margin-left: 0rem;
    margin-top: 0.5rem;

    
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;

    width: 50%;
    margin-top: 0.5rem;
    margin-left: 0rem;
}
.question{
    display: flex;
    gap: 60px;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 1.8rem;
    width: 8.5rem;
}
.que1 h1{
    font-size: 1.2rem;
}
.que2{
    padding-top:0;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 1rem;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 0.2rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 0.5rem;
    gap: 1rem;
    padding-top: 0.4rem;
}
.input{
    font-size: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-top: 10px;
}
.input h2 {
    padding-bottom: 0.6rem;
    font-size: 10px;
}
input{
    width: 12rem;
    height: 1.2rem;
    margin-top: 0px;
    margin-bottom: -3px;
}
.confi img{
    margin-top: 1.7rem;
    margin-left: 0.7rem;
    height: 2.5rem;
    transform: rotate(17deg);
    width: 5rem;
}
.desc{
    padding-left:5rem;
    padding-top: 1rem;
}
.desc textarea{
    height: 3rem;
    width: 15rem;
    
}
.end{
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
}
.privacy{
    font-size: 0.5rem;
    font-style: italic;
    color: grey;
    margin-top: 1.8rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-top: 1rem;
    font-size: 0.5rem;
}
.batton img{
    color: white;
    background-color: red;
    height: 0.4rem;
    width: 0.3rem;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 33rem;
    width: 100%;
}
.charged{
    display: flex;
    gap: 0rem;
    width: 100%;
}
.char-text{
    margin-left: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    position: relative;
}
.char-text h3{
    font-size: 2rem;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
.char-pic img{
    width: 100%;
    margin-top: -2rem;
    
        
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 46rem;
    right:40rem;
}
.click button{
    background-color: brown;
    height: 1rem;
    width: 5rem;
    color: white;
    font-size: 0.5rem;
    
}
.click button img{
    height: 0.5rem;
    width: 0.5rem;
}
.line{
    position: absolute;
    bottom: 1rem;
    left: -2rem;
    height: 0.1rem;
    width: 7rem;
}
.law-case{
    border-left: 0.5px solid black;
    /* border-right: 0.5px solid black;  */
    margin-top: 1.5rem;
    width: 100%;

}
.law-blog{
    display: flex;
    gap: 6rem;
    border-bottom: 1px solid black;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    
}
.law-text p{
    font-size: 1.2rem;

}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: -2.5rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 2rem;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 1.3rem;
    width: 7rem;
    margin-left: 0rem;
    color: white;
    
}
.law-text .btn img{
    height: 6px;
    width: 6px;
}
 
.law-text img{
    height: 0.1rem;
    width: 7rem;   
}
.law-text button{
    font-size: 0.5rem;
}
.certifi{
    position: absolute;
    top: 59rem;
    left: 15rem;
    width: 50%;
    grid-column: span 2;
    
}
.certifi-text h2{
    font-size: 2rem;
}

.all-img{
    display: flex;
    gap:5rem;
}
.im1 img{
    height: 10rem;
}
.certifi-text{
    padding-left: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1.7rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-left: 11rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: -3.3rem;
    top: -1rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 9rem;
   margin-left: 10.2rem;
    
}
.line1{
    margin-top: 2rem;
}
.boxes{
    width: 33%;
    margin-top: 1rem;
    margin-left: 0.3rem;
    padding: 0px;
}
.box{
    background-color: grey;
    width: 100%;
    margin-top: 2rem;
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 4rem;
     left: 9rem;
     color: white;
}
.menu{
    height: 4rem;
}
.about{
    margin-top: 1.5rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    display: flex;
    width: 100%;
    gap: 10px;

}
.blog{
    margin-top: 1rem;
    padding-left: 0.5rem;
    width: 33%;
}
.blog p{
    font-size: 1rem;
    line-height: 1.8rem;
}
.side{
    margin-top: 1rem;
    margin-left: 0rem;
    width: 33%;
       
}
.side1{
    padding: 1.5rem;
    padding-left: 0.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.shadow {
    height: 0.1rem;
    width: 14rem;
}
.detail{
    background-color: brown;
    height: 2.5rem;
    width: 8rem;
    margin-left: 4rem;    
}
.detail img{
    height:0.5rem;
    width: 0.5rem;
}
.shadow1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.shadow1 img{
    height: 9rem;
    width: 16rem;
    padding-left: 5rem;
}
.follow .shadow2{
    height: 0.1rem;
    width: 10rem;
    
   
}
.follow{
    padding-left: 5rem;
}
.follow h2{
    padding-left: 1.3rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    gap: 1.2rem;
}
.icon img{
    width: 100%;
} }
@media (max-width:768px) {

    header{
    width: 100%;    
   display: flex;
   gap: 5rem;
}
.head-text{
    width: 50%;
    padding-top: 5px;
    padding-right: 0rem;
    margin-right: 0px;    
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;    
}
.head-text h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size:20px;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo{
    width: 50%;
}
.head-logo img{
    width: 100%;

}
.navbar{
    display: flex;
    justify-content:center;
    gap: 17px;
    background-color: darkred;
    width: 100%;
    padding: 1rem;
    color: white;
    align-items: end;
     margin-top: 1rem; 
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
}
.section-left{
    width: 100%;
}
.section-left img{
    
    width: 100%;
    margin-left: 0rem;
    margin-top: 0.5rem;

    
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 0rem;
}
.question{
    display: flex;
    gap: 120px;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 3.2rem;
    width: 16rem;
}
.que1 h1{
    font-size: 2.3rem;
}
.que2{
    padding-top:0;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 1rem;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 0.2rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 0.5rem;
    gap: 3rem;
    padding-top: 0.4rem;
}
.input{
    font-size: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-top: 10px;
}
.input h2 {
    padding-bottom: 0.6rem;
    font-size: 25px;
}
input{
    width: 18rem;
    height: 1.9rem;
    margin-top: 9px;
    margin-bottom: -3px;
}
.confi img{
    margin-top: 1.9rem;
    margin-left: 0.7rem;
    height: 3rem;
    transform: rotate(20deg);
    width: 9rem;
}
.desc{
    padding-left:10rem;
    padding-top: 1rem;
}
.desc textarea{
    height: 3rem;
    width: 18rem;
    
}
.end{
    display: flex;
    gap: 3rem;
    margin-left: 1rem;
}
.privacy{
    font-size: 1rem;
    font-style: italic;
    color: grey;
    margin-top: 1.8rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 2.2rem;
    width:12rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.batton img{
    color: white;
    background-color: red;
    height: 0.4rem;
    width: 0.3rem;
}
.main{
    display:grid;
    grid-template-columns:1fr 1fr ;
    padding-bottom: 2rem;
    width: 100%;
}
.charged{
    display: flex;
    gap: 0rem;
    padding-bottom: 3rem;
    width: 100%;
}
.char-text{
    margin-left: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    position: relative;
}
.char-text h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.char-pic img{
    width: 100%;
    margin-top: -2rem;
    
        
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 90rem;
    right:38rem;
}
.click button{
    background-color: brown;
    height: 1.5rem;
    width: 10rem;
    color: white;
    font-size: 0.9rem;
    
}
.click button img{
    height: 0.5rem;
    width: 0.5rem;
}
.line{
    position: absolute;
    bottom: 1.5rem;
    left: 0rem;
    height: 0.1rem;
    width: 11rem;
}
.law-case{
    border-left: 0.5px solid black;
    /* border-right: 0.5px solid black;  */
    margin-top: 1.5rem;
    width: 100%;

}
.law-blog{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid black;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.law-text p{
    font-size: 1.2rem;

}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: -1.5rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 1.5rem;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 1.9rem;
    width: 9rem;
    margin-left: 0rem;
    color: white;
    
}
.law-text .btn img{
    height: 8px;
    width: 8px;
}
 
.law-text img{
    height: 0.1rem;
    width: 10rem;   
}
.law-text button{
    font-size: 1rem;
}
.certifi{ 
    position: relative;
    top:0rem;
    left: 8rem;
    padding-top: 4rem;
    /* grid-column: span 2; */
    width: 50%;
    
 } 
.certifi-text h2{
    font-size: 1.5rem;
}

.all-img{
    display: flex;
    gap:1rem;
}
.im1 img{
    width: 100%;
    
}
.certifi-text{
    padding-left: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1.2rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 12rem;
    margin-left: 0rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: 1rem;
    top: 0rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 11rem;
   margin-left: 0rem;
    
}
.line1{
    margin-top: 3rem;
}
.boxes{
    margin-top: 1rem;
    margin-left: 7.3rem;
    width: 100%;
}
.boxes h2{
    font-size: 2rem;
}
.box{
    background-color: grey;
    height: 5rem;
    width: 32rem;
    margin-top: 2rem;
    
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 6rem;
     left: 15rem;
     color: white;
}
.menu{
    height: 5rem;
}
.about{
    margin-top: 1.9rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    
}
.blog{
    margin-top: 2rem;
    padding-left: 2.5rem;
    width: 100%;
}
.blog p{
    font-size: 1.3rem;
    line-height: 2rem;
    
}
.side{
    margin-top: 1rem;
    margin-left: 3.5rem;
    width: 100%;
       
}
.side1{
    padding: 1.5rem;
    padding-left: 2.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
}
.shadow {
    height: 0.1rem;
    width: 18rem;
    margin-left: 2rem;
}
.detail{
    background-color: brown;
    height: 3rem;
    width: 15rem;
    margin-left: 4rem;
    font-size: 1.9rem;
    color: white;    
}
.detail img{
    height:1.3rem;
    width: 1.3rem;
}
.shadow1{
    display: flex;   
    gap: 3rem;
}
.shadow1 img{
    width: 23%;
    padding: 0px;
    margin: 0px;
    
}
.follow .shadow2{
    height: 0.1rem;
    width: 21rem;
    
   
}
.follow{
    padding-left: 0rem;
}
.follow h2{
    padding-left: 4.3rem;
    font-size: 2rem;
}
.icon{
    width: 100%;
    display: flex;
    gap: 1.2rem;
}
.icon img{
width: 10%;
} }

@media (max-width:576px) {
    header{
   display: grid;
   grid-template-columns: 1fr;
   gap: 0rem; 
   width: 100%;
}
.head-text{
    
    margin-left: 8rem;
    width: 100%;
}
.head-text h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;    
}
.head-text h3{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.head-text p{
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
}
.head-logo{
    width: 100%;
}
.head-logo img{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content:start;
    gap: 0.9em;
    background-color: darkred;
    width: 100%;
    padding: 1em;
    color: white;
    align-items: end;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;

}
.section-left{
    width: 100%;
}
.section-left img{
    width: 95%;
    margin-left: 0.5rem;
    margin-top: 2.2rem;
}
.section-right{
    background-image: url(./form_bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 1rem;
    margin-right: 0rem;

}
.question{
    display: flex;
    gap: 1rem;
}
.que1{
    background-color: darkred;
    color: white;
    padding: 0.5rem;
    height: 3.5rem;
    width: 17rem;
}
.que2{
    padding-top:0.5rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.que2 strong{
    font-size: 2rem;
    color:rgba(0, 79, 139, 0.777);
}
.text{
    margin-left: 1.5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.data-enter{
    display: flex;
    margin-left: 2.5rem;
    gap: 0.5rem;
    padding-top: 1rem;
}
.input{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}
.input h4 {
    padding-bottom: 1rem;
}
input{
    padding-bottom: 0.6rem;
    margin-bottom: 0.4rem;
    width: 8rem;
    height: 1rem;
}
.input h2{
    font-size: 17px;
}
.confi img{
    margin-top: 1.7rem;
    margin-left: 0.7rem;
    height: 2rem;
    transform: rotate(15deg);
    width: 9rem;
}
.desc{
    padding-left:2.6rem;
}
.desc textarea{
    height: 3rem;
    width: 19rem;
}
.end{
    display: flex;
    gap: 0.3rem;
    margin-left: 2rem;
}
.privacy{
    font-size: 1rem;
    font-style: italic;
    color: grey;
    margin-top: 1.8rem;
}
.batton button{
    color: white;
    background-color: darkred;
    height: 3rem;
    width: 12rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.batton img{
    color: white;
    background-color: red;
    height: 0.8rem;
    width: 0.6rem;
}
.main{
    display: inline;
    gap:0rem;
    width: 100%;
}
.charged{
    display: flex;
    width: 100%;
    

}
.char-text{
    margin-left: 1rem;
    padding-left: 0rem;
    margin-top: 2rem;
    position: relative;
    padding: 0px;
}
.char-text h3{
    font-size: 1.8rem;
    font-weight: 700;
}
.char-text h4{
    padding-bottom: 1rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.char-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.char-pic img{
    width: 150%;
    position: relative;
    right:0rem;    
}
.char-pic{
    padding-top: 6.2rem;   
}
.click{
    position: absolute;
    top: 82rem;
    right:5rem;
}
.click button{
    background-color: brown;
    height: 2rem;
    width: 8rem;
    color: white;
    
}
.line{
    position: relative;
    bottom: 1.5rem;
    left:10rem;
    height: 0.1rem;
    width: 12rem;
}
.law-case{
    border-left: 0.5px solid black;
    border-right: 0.5px solid black; 
    margin-top: 0.5rem;
    width: 100%;

}
.law-blog{
    display: flex;
    gap: 4rem;
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.law-text p{
    font-size: 1.2rem;
    padding-top: 1rem;
}
.law-pic img{
    width: 100%;
}
.law-pic1 img{
    width: 100%;

}
.law-pic1{
    position: relative;
    left: 0rem;
}
.law-text {
    font-family: Arial, Helvetica, sans-serif;
}
.law-text h3{
    font-size: 2rem;
    font-weight: 700;
}
span{
    color: darkred;
}
.btn{
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-left: 6rem;
    color: white;

}
.law-text .btn img{
    height: 10px;
    width: 10px;
}
.law-text img{
    height: 0.1rem;
    width: 14rem;
}
.all-img{
    display: flex;
    padding: 0rem;
    gap:0.5rem;
}
.im1 img{
    margin: 0rem;
    width: 100%;
}
.certifi{
    width: 100%;
    grid-column:auto;
    

}
.certifi-text{
    padding-left: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}
.certifi-text p{
    padding-top: 1rem;
    font-size: 1.6rem;
    padding-right:9rem;
}
.btn1{
    background-color: darkred;
    height: 2rem;
    width: 8rem;
    margin-left: 11rem;
    color: white;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
.certifi-text .btn1 img{
   height: 10px;
    width: 10px;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}
.certifi-text img{
   height: 0.1rem;
   width: 14rem;
   margin-left: 3.2rem;
    
}
.line1{
    margin-top: 2rem;
}
.boxes{
    margin-top: 1rem;
    width: 100%;
    padding-left: 0px;
    margin: 0px;
}
.box{
    background-color: grey;
    height: 4rem;
    width: 90%;
    margin-top: 2rem;
    
}
.box h2{
    position: relative;
    bottom: 4rem;
    left: 1rem;
    color: white;
}
.box p{
     position: relative;
     bottom: 4rem;
     left: 9rem;
     color: white;
}
.menu{
    height: 4rem;
}
.about{
    margin-top: 1.5rem;
}
.area{
    margin-top: 4rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main1{
    display: inline;
    width: 100%;
}
.blog{
    margin-top: 1rem;
    padding-left: 1rem;
    width: 100%;
}
.blog p{
    font-size: 1.3rem;
}
.side{
    margin-top: 1rem;
    margin-left:0rem;
    width: 100%;
       
}
.side1{
    padding: 1.5rem;
    padding-left: 2.5rem;
}
.side1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.side1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.shadow {
    height: 0.1rem;
    width: 14rem;
}
.detail{
    background-color: brown;
    height: 2.5rem;
    width: 10rem;
    margin-left: 4rem;
    font-size: 1rem;    
}
.detail img{
    height:0.7rem;
    width: 0.7rem;
}
.shadow1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}
.shadow1 img{
    
    width: 50%;
    padding-left: 5rem;
}
.follow .shadow2{
    height: 0.1rem;
    width: 10rem;
    
   
}
.follow{
    padding-left: 5rem;
    width: 100%;
    
}
.follow h2{
    padding-left: 1.3rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    gap: 1.2rem;
    
    
}
.icon img{
    width: 25%;
}
}    
    

